body{
    font-size: 1.5vw;
    color: #fff;
    background: #777;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:red;
}
#header{
    display: block;
    margin-left: 10%;
    background: #000;
    left: 10%;
    width: 80%;
    text-align: center;
    border-radius: 1vw;
    overflow: hidden;
}
.span{
    display: inline-block;
}
#navigation li{
    display: inline-block;
    font-size: 1.5vw;
    margin: 0 1vw;
}

article a{
    text-decoration: underline;
}

section article{
    background: #000;
    width: 72%;
    margin: 2.5% 10%;
    border-radius: 2vw;
    padding: 4%;
}
article p{
    text-align: justify;
    font-family: "Droid Sans Mono", "Courier New", monospace;
    line-height: 1.5;

}
header h2::after{
    content: ">";
    padding-left: 0.5vw;
}